**/__pycache__
**/*.auctex-auto
**/*.hypothesis
**/*.pdf
**/*.svg
**/*.log
**/*.py.verified
check.verified
lint.verified
linkcheck.verified
linelength.verified
mypy.verified
ruff.verified
spellcheck.verified
test
update-deps
weave
