h1.title {
    font-family: "Bungee Shade", serif;
    font-size: 100pt;
}
table.monospace-except-header {
    font-family: monospace;
}

table.monospace-except-header thead {
    font-family: var(--font-serif);
}
