a {
    color: #0000ff;
}

body {
    font-size: 1.2em;
}

p {
    font-size: 1.2em;
}

body, p, li, h1, h2, h3, h4, h5, h6, legend {
    font-family: "Source Serif Pro, serif";
}

p, li {
    line-height: 1.2em;
}

p, ol, ul {
    margin-bottom: 0.5em;
}

li {
    margin-bottom: 0;
}

table {
    margin: 1em auto 0em auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 3px 6px;
}

/* Center all images. */
img {
    display: block;
    margin: 0 auto;
}

/* Increase text size for smaller sections. */
h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 18pt;
}
h7 {
    font-weight: bold;
    font-size: 18pt;
}
.outline-7 {
    margin-top: 1em;
}

code {
    background: #eee;
    padding-left: 0.5em;
    padding-right: 0.5em;
    white-space: nowrap;
}

thead {
    background: #eee;
}

pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

a.section-headline {
    color: black;
}

.org-src-container {
    margin-top: 1em;
    margin-bottom: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    border-radius: 5px;
}

.org-src-container pre {
    margin: 0;
    font-family: "monospace";
    border-width: 0;
    scroll-margin-top: 100px;
}

/* Source code block body. */
.org-src-container pre.src {
    background-color: #eee;
}


.codex-caption {
    font-family: "monospace";
    text-align: right;
    background-color: #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.codex-caption label {
    margin-right: 1em;
}

.codex-caption-source-code-block-name {
    color: #444444;
    font-weight: bold;
    margin-right: 5px;
}

.codex-caption-parent-link {
    margin-top: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
.codex-caption-parent-link a {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ffffff;
    background-color: #38ad3d;
}
.codex-caption-parent-link a:hover {
    background-color: #389ffd;
    text-decoration: none;
}

.codex-caption-link-symbol a {
    margin-right: 5px;
}
.codex-caption-link-symbol a:hover {
    text-decoration: none;
}

.codex-caption-listing-number {
    margin-right: 5px;
}

.codex-child-link-from-parent {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
.codex-child-link-from-parent a {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ffffff;
    background-color: #389ffd;
}
.codex-child-link-from-parent a:hover {
    background-color: #38ad3d;
    text-decoration: none;
}
